/*@font-face {
    font-family: 'RalewayLight';
    src: url('fonts/RalewayLight.eot');
    src: url('fonts/RalewayLight.eot') format('embedded-opentype'),
         url('fonts/RalewayLight.woff2') format('woff2'),
         url('fonts/RalewayLight.woff') format('woff'),
         url('fonts/RalewayLight.ttf') format('truetype'),
         url('fonts/RalewayLight.svg#RalewayLight') format('svg');
}

body {
  font-family: 'RalewayLight';
}*/

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #b4afb2;

}

#showPage {
  text-align: center;
  width: 100%;
  height: 100%;
}
