
<div flex>

    <p class="server-stats-client">{{ clientList.length }} </p>
    <p> clients connected </p>
    <!-- <md-button class="md-fab md-raised" ng-click="refreshClients()">
      <md-icon md-font-set="material-icons"> refresh </md-icon>
    </md-button> -->
    <br/>
  <md-button class="md-fab md-raised" ng-click="data.showDetails = !data.showDetails">
    <md-icon md-font-set="material-icons"> settings </md-icon>
  </md-button>
  <div ng-show="data.showDetails">
    <br/>
    <md-switch ng-model="serverOnline" ng-click="toggleServerStatus()">
        Server Active
    </md-switch>
    <form name="ipForm">
      <md-input-container class="md-block">
          <label>Show Server IP</label>
          <input ng-model="data.showIP" name="showIP" type="text">
      </md-input-container>

      <br/>
      <md-input-container class="md-block">
          <label>Photo Server IP</label>
          <input class="md-block" ng-model="data.photoIP" name="photoIP" type="text">
      </md-input-container>
      <md-button class="md-raised md-warn" ng-click="updateIp()" ng-show="ipForm.$dirty && !ipForm.$pristine"> Update </md-button>
  </form>

  </div>

</div>

</div>
