  <h1 class="md-title">Send a message</h1>

  <md-input-container>
      <label>Message</label>
      <input ng-model="data.message" type="text">
  </md-input-container>
  <md-button ng-disabled="!data.message" class="md-fab" ng-click="sendMessage()">
    <md-icon md-font-set="material-icons"> send </md-icon>
  </md-button>
  <br/>

  <h1 class="md-title">Start Photo Event</h1>

  <md-button class="md-fab">
    <md-icon md-font-set="material-icons" ng-click="getPhoto()"> camera_alt </md-icon>
  </md-button>

  <div ng-show="photoEvent.inProgress">
    <p> Photos so far: {{ photoEvent.count }}

      <md-button class="md-fab">
        <md-icon md-font-set="material-icons" ng-click="processPhoto()"> camera_alt </md-icon>
      </md-button>
  </div>
