  <h1 class="md-title">Send a message</h1>

  <md-input-container>
      <label>Message</label>
      <input ng-model="data.message" type="text">
  </md-input-container>

  <md-button ng-disable="!data.message" class="md-fab" ng-click="sendMessage()">
    <md-icon md-font-set="material-icons"> send </md-icon>
  </md-button>
  <br/>

  <h1 class="md-title">Request Photo</h1>

  <md-input-container>
      <label>Seconds to wait</label>
      <input ng-model="data.photoWaitTime" type="number">
  </md-input-container>

  <md-button class="md-fab">
    <md-icon md-font-set="material-icons"> camera_alt </md-icon>
  </md-button>
