<h1> Live Mode </h1>

<div layout="row">

  <div flex="33">
    <h1 class="md-title">Queue Sequence</h1>

    <md-input-container>
      <label>Select sequence</label>
      <md-select ng-model="data.toLoad">
        <md-option ng-repeat="show in showList" value="{{$index}}"> {{ show.name }}
        </md-option>
      </md-select>
      </md-input-container>
      <br/>

      <div ng-show="currentShow">
      <md-input-container>
          <label>Start Time (in seconds)</label>
          <input ng-model="data.startTime" type="number">
      </md-input-container>
      <br/>
      <div ng-show="data.startTime">
      <md-button class="md-raised md-accent" ng-disabled="!data.startTime" ng-click="loadShow()"class="">
        Queue Sequence

        <md-icon md-font-set="material-icons"> arrow_forward </md-icon>
      </md-button>
      <br/>
      <md-button class="md-warn" ng-disabled="!data.startTime" ng-click="reset()"class="">
        Reset
      </md-button>
    </div>
    </div>
  </div>
  <div flex="33" ng-show="data.ready">
    <h1 class="md-title"> Staging </h1>
    <p>Current Show: {{ currentShow.name }}</p>
    g
    <div ng-show="transportState==='started'">
      <md-button ng-click="stopShow()" class="md-fab md-warn">
        <md-icon md-font-set="material-icons"> stop </md-icon>
      </md-button>
    </div>
    <div ng-show="transportState==='stopped'">
      <md-button ng-disabled="!data.startTime" ng-click="startShow()"class="md-fab">
        <md-icon md-font-set="material-icons"> play_arrow </md-icon>
      </md-button>
    </div>

  </div>
  <div flex="33" ng-show="data.ready">
    <h1 class="md-title"> Live Preview </h1>

    <div id="previewWindow">
      <h3 id="previewTitle"> {{ screenText.previewTitle }} </h3>
      <p id="previewBody"> {{ screenText.previewBody }} </p>
    </div>
  </div>

</div>
